<!doctype html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Vote App</title>
    <meta name="description" content="Voting app">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://use.fontawesome.com/b0d85ca901.js"></script>
    <script src="Chart.js"></script>
</head>

<body id="siteParent">
    <script>
        document.body.style.display = "none";
    </script>
    <div id="siteChild">
        <!-- NEW POLL Modal -->
        <div class="modal fade" id="newPollModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Please specify the name of the new poll and number of dataset.</h4>
                    </div>
                    <div id="modalBody" class="modal-body">
                        <form id="createPollForm">
                            <label for="pollName">Name of poll</label>
                            <div class="form-group">
                                <input type="text" class="data" id="pollName" name="pollName" placeholder="Name of poll" size="50">
                            </div>
                            </br>
                            <label>Datset</label>
                            <div class="form-group">
                                <input type="text" class="dataSet data" name="labels" size="30">
                            </div>
                            <div class="form-group">
                                <input type="text" class="dataSet data" name="labels" size="30">
                            </div>
                            <input type="button" id="addDatasetInput" class="btn btn-default" value="Add New Fieled">
                    </div>
                    </form>
                    <div class="alertNewPollValidation">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" id="saveButton" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- NEW POLL Modal - END -->

    <!-- VOTE POLL Modal -->
    <div class="modal fade" id="votePoll" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="pollNameVote"></h4>
                </div>
                <div class="modal-body">
                    <form class="voteBody input-field"></form>
                </div>
                <div class="voteFooter modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" id="saveVote" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!--  DELETE POLL MODAL   -->
    <div class="modal fade" tabindex="-1" role="dialog" id="delatePollModal">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Are you sure you want to remove the poll?</p>
                    <p class="romovedPollName"><strong></strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="dismissDeletePoll" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" id="deletePoll">Yes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!--  LOAD NAVBAR  -->
    <% include partials/navbar %>
        <!-- END NAVBAR   -->

        <section class="mainSection" id='outer'>
            <div class="container-fluid" id="inner">
                <div>
                    <!-- Nav tabs -->
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <div class="pills-background">
                                <ul class="nav nav-pills pills" role="tablist">
                                    <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Latest polls</a></li>
                                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Your polls</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Tab conttent-->
                    <div class="tab-content">
                        <!-- Tab conttent latest polls-->
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="row">
                                <!--  all polls  -->
                                <div class="col-md-8 col-md-offset-2 pollsSection">
                                    <h2>Latest polls</h2>
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <% if( typeof poll !== "undefined") { %>
                                            <% poll.forEach(function (poll){  %>
                                                <div class="panel">
                                                    <div class="panel-heading" role="tab" id="headingOne">
                                                        <div class="row">
                                                            <div class="col-sm-9">
                                                                <h4 class="panel-title">
                                                                        <input type="hidden" value="<%= poll._id %>">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#acordion-<%= poll._id %>" aria-expanded="true" aria-controls="collapseOne">
            <%= poll.pollName %></a>
                                                                    </h4>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <button class="votePoll btn btn-success pull-right"><i class="fa fa-check" aria-hidden="true"></i> Vote</button>
                                                                <input type="hidden" value="<%= poll._id %>">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="acordion-<%= poll._id %>" class="panel-collapse collapse pollBody" role="tabpanel" aria-labelledby="headingOne">
                                                        <canvas id="chart-<%= poll._id %>"></canvas>

                                                    </div>
                                                </div>
                                                <% }); %>
                                                    <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tab conttent user polls-->
                        <div role="tabpanel" class="tab-pane" id="profile">

                            <div class='row'>
                                <div class="col-md-8 col-md-offset-2 pollsSection">
                                    <div class='userPolls'>
                                        <h2>Your polls</h2>
                                        <% if(userLogged) { %>
                                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                <% if( typeof userPolls !== "undefined") { %>
                                                    <% userPolls.forEach(function (poll){  %>

                                                        <div class="panel">
                                                            <div class="panel-heading" role="tab" id="headingOne">
                                                                <div class="row">
                                                                    <div class="col-sm-8">
                                                                        <h4 class="panel-title">
                                    <input type="hidden" value="<%= poll._id %>">
                                    <a role="button" class="userPolls" data-toggle="collapse" data-parent="#accordion" href="#acordion-user-<%= poll._id %>" aria-expanded="true" aria-controls="collapseOne">
            <%= poll.pollName %></a>
                                                                         </h4>
                                                                    </div>
                                                                    <div class="col-sm-4">
                                                                        <button class="votePoll btn btn-success pull-right"><i class="fa fa-check" aria-hidden="true"></i> Vote</button>
                                                                        <input type="hidden" value="<%= poll._id %>">
                                                                        <button class="deletePoll btn btn-danger pull-right"><i class="fa fa-times" aria-hidden="true"></i> Delete</button>
                                                                        <input type="hidden" value="<%= poll._id %>">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="acordion-user-<%= poll._id %>" class="panel-collapse collapse pollBody" role="tabpanel" aria-labelledby="headingOne">

                                                                <canvas id="chart-user-<%= poll._id %>"></canvas>
                                                            </div>
                                                        </div>
                                                        <% }); %>
                                                            <% } %>
                                                                <!--                       No Polla Alert                             -->
                                                                <% if(userPolls.length === 0) { %>
                                                                    <h3 class="noPollText">It looks you haven't added any polls.</h3>
                                                                    <% } %>

                                            </div>
                                            <button id="addNewPoll" class="btn btn-default center-block"><i class="fa fa-plus" aria-hidden="true"></i> New Poll</button>
                                            <% } else { %>
                                                <% include partials/userLoggedOut %>
                                                    <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="loadingModal"><i class="fa fa-spinner fa-pulse fa-4x fa-fw"></i>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="jquery.min.js"></script>
        <script src="main.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="bootstrap.min.js"></script>
        <script src="randomColor.js"></script>
        <script src="sessionStorage.js"></script>
        <script src="handlebars-v4.0.5.js"></script>
        </div>

</body>

</html>